* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #f7f5f5;
  text-align: center;
  background-color: #2f3c7e;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 16px 0;
}

button {
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 5px;
  margin-bottom: 16px;
  background: #dd4d54;
}

.btn-container button {
  margin-right: 16px;
}

.btn-container button.active {
  background-color: #42787e;
}

div.grid-container {
  width: 600px;
  height: 600px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 32px;
  border: 1px solid #333333;
  background-color: #f7f5f5;
}

.grid-container .column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid-container .row {
  flex: 1;
}